<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>View/Interactor/Provider stack that only uses a protocol for views</string>
	<key>Summary</key>
	<string>Minimal View/Interactor/Provider stack</string>
	<key>SortOrder</key>
	<string>111111</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>FeatureName</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.ios</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
				<string>productName</string>
			<key>Description</key>
				<string>Feature Name</string>
			<key>Name</key>
				<string>Feature name (CamelCase):</string>
			<key>NotPersisted</key>
				<true/>
			<key>Required</key>
				<true/>
			<key>Type</key>
				<string>text</string>
		</dict>
	</array>
</dict>
</plist>
